<div class="columns">
  <div class="column">
    <h1 class="title"><%= @observation.title %></h1>
  </div>

  <div class="column is-one-third">
    <div class="buttons is-pulled-right">
      <% if policy(@observation).edit? %>
        <%= link_to 'Edit', edit_observation_path(@observation), class: 'button is-info is-pulled-right' %>
      <% end %>

      <%# TODO: <%= link_to 'Download data as CSV', observation_path(@observation, format: 'csv'), class: 'button is-primary' %1> %>
    </div>
  </div>
</div>

<%= render partial: 'details', locals: { species: @observation.species, references: @observation.references, measurements: @observation.measurements } %>
