<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <tbody>
    <tr>
      <th>Species Group</th>
      <td id="species-name">
        <ul>
          <% species_group.species.each do |species| %>
            <li><%= link_to species.name, species_path(species) %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
