<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <tbody>
    <tr>
      <th>Species Group</th>
      <td id="species-name">
        <%= species_group.name %>
      </td>
    </tr>
  </tbody>
</table>
