<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <tbody>
    <tr>
      <th>Ocean</th>
      <td id="oceans">
        <% oceans.each do |ocean| %>
          <%= ocean.name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Name</th>
      <td id="location-name"><%= location.name %></td>
    </tr>
    <tr>
      <th>Latitude</th>
      <td id="latitude"><%= location.lat %></td>
    </tr>
    <tr>
      <th>Longitude</th>
      <td id="longitude"><%= location.lon %></td>
    </tr>
  </tbody>
</table>
