<h1 class="title">
  Trends
  <% if user_is_admin? %>
    <%= link_to 'Upload new Trend', new_trend_path, class: 'button is-primary is-pulled-right' %>
  <% end %>
</h1>

<%= render partial: 'trends/list', locals: { trends: @trends, hide_title: true } %>

<%== pagy_bulma_nav(@pagy) %>
