<div class="species">
  <h3 class="subtitle is-4 is-spaced"> Species </h3>

  <div class="columns">
    <div class="column">
      <div class="field">
        <p class="control has-icons-left" id="species_selector">
          <%= select_tag "#{target}[species_id]", nil, style: 'width: 100%' %>
          <span class="icon is-small is-left">
            <i class="fas fa-exclamation"></i>
          </span>
        </p>
      </div>
    </div>
    <div class="column">
      <div id="species-info">
        <%= render partial: 'species/detail', locals: { specie: species, render_links_new_window: true } %>
      </div>
    </div>
  </div>
</div>

