<div class="error_messages">
  <% if thing.errors.any? %>
    <article class="message is-danger">
      <div class="message-header">
        <%= pluralize(thing.errors.count, "error") %> prohibited this <%= thing.class %> from being saved
      </div>
      <div class="message-body">
        <ul>
          <% thing.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </article>
  <% end %>
</div>
