<div class="species">
  <h3 class="subtitle is-4 is-spaced"> Species </h3>

  <div class="columns">
    <div class="column">
      <div class="field">
        <% if species %>
          <p class="control has-icons-left" id="species_selector">
            <%= select_tag "#{target}[species_id]", nil, style: 'width: 100%' %>
            <span class="icon is-small is-left">
              <i class="fas fa-exclamation"></i>
            </span>
          </p>
        <% elsif species_group %>
          <%= link_to "To change the Species Group please click here", admin_species_group_path(species_group) %>
        <% end %>
      </div>
    </div>
    <div class="column">
      <div id="species-info">
        <% if species %>
          <%= render partial: 'species/detail', locals: { species: species, render_links: true } %>
        <% elsif species_group %>
          <%= render partial: 'species/group_detail', locals: { species_group: species_group } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

