<h1 class="title">Listing imports</h1>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Status</th>
    <th></th>
  </tr>

  <% @imports.each do |import| %>
    <tr>
      <td><%= import.title %></td>
      <td><%= import.uploaded_by %></td>
      <td><%= import.state %></td>
      <td><%= link_to 'Show', import_path(import) %></td>
    </tr>
  <% end %>
</table>
