<p>
  <strong>Title:</strong>
  <%= @import.title %>
</p>

<p>
  <strong>Uploaded by:</strong>
  <%= @import.uploaded_by %>
</p>


<p>
  <strong>xlsx file:</strong>
  <%= link_to @import.xlsx_file.filename, url_for(@import.xlsx_file) %>
</p>

<script src="//unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script src="//unpkg.com/canvas-datagrid/dist/canvas-datagrid.js"></script>

<div id="gridctr" style="height: 637px;"></div>

<script>
  /*jshint browser:true */
  /* eslint-env browser */
  /* eslint no-use-before-define:0 */
  /*global Uint8Array, Uint16Array, ArrayBuffer */
  /*global XLSX */


  var url = "<%= url_for @import.xlsx_file %>";

  /* set up async GET request */
  var req = new XMLHttpRequest();
  req.open("GET", url, true);
  req.responseType = "arraybuffer";

  req.onload = function(e) {
    var data = new Uint8Array(req.response);
    var workbook = XLSX.read(data, {type:"array"});

    var ws = workbook.Sheets[workbook.SheetNames[0]];
    var data = XLSX.utils.sheet_to_json(ws, {header:1});

    var grid = canvasDatagrid({
      parentNode: document.getElementById('gridctr'),
      editable: false,
      data: data
    });
    grid.style.height = '100%';
    grid.style.width = '100%';
  }

  req.send();

</script>
