<script src="//unpkg.com/xlsx/dist/xlsx.full.min.js"></script>">

<p>
  <strong>Title:</strong>
  <%= @import.title %>
</p>

<p>
  <strong>Uploaded by:</strong>
  <%= @import.uploaded_by %>
</p>


<p>
  <strong>xlsx file:</strong>
  <%= url_for @import.xlsx_file %>
</p>

