<h1 class="title">Shark Traits & Trends API</h1>

<p>
  Shark Traits &amp; Trends offers a basic REST-API, which allows third parties
  to build integrations or export data.
</p>

<% if current_user %>
  <p>
    Your API token is <code><%== current_user.token %></code>.
  </p>

  <p>
    This token is required as a HTTP header in all requests to the API. For example:
  </p>

  <pre>
curl -s -H 'Authorization: Token <%= current_user.token %>' <%= request.base_url %>/api/v1/species
  </pre>
<% else %>
  <p>
    While the API is open for everyone to use it is required that you authenticate
    your API requests with an API token. You can create an account <%= link_to "here", new_user_registration_path %>.
  </p>
<% end %>
