<section class="section">
  <div class="container">
    <h1 class="title">Contact Sharkipedia</h1>

    <p>For any information or questions about the database please email us at <a href"mailto:admin@sharkipedia.org">admin@sharkipedia.org</a>.</p>

  </div>
</section>
