<section class="section">
  <div class="container">
    <h1 class="title">Contact Shark Traits</h1>
    
  <p>For any information or questions about the database please email us at <a href"mailto:sharktraits@gmail.com">sharktraits@gmail.com</a>.</p>

  <br><br>
    <h1 class="title">Contact Shark Trends</h1>

  </div>
</section>
