<section class="section">
  <div class="container">
    <h1 class="title">Contact Sharkipedia</h1>

    <p>For any information or questions about the database please email us at <a href"mailto:admin@sharktraits.org">admin@sharktraits.org</a>.</p>

  </div>
</section>
