<section class="section">
  <div class="container">
    <h1 class="title">Shark Traits & Trends</h1>

    <p>The Shark Traits Database is an open source research initiative that aims to
      make all observations and measurements of chondrichthyans (sharks, rays, and
      chimaeras) accessible in order to more rapidly advance resesearch.</p>

    <p>Shark Traits has currently <%= @measurement_count %> measurements of
      <%= @trait_count %> traits, covering <%= @species_count %> species.</p>

  </div>
</section>
