<div id="gridctr" style="height: 637px;"></div>

<script>
  /*jshint browser:true */
  /* eslint-env browser */
  /* eslint no-use-before-define:0 */
  /*global Uint8Array, Uint16Array, ArrayBuffer */
  /*global XLSX */

  var data = `<%= @data.html_safe %>`;
  var wb = XLSX.read(data, {type:"binary"});
  var js = XLSX.utils.sheet_to_json(wb.Sheets.Sheet1, {header:1, raw:true});

  var grid = canvasDatagrid({
    parentNode: document.getElementById('gridctr'),
    editable: false,
    data: js
  });
  grid.style.height = '100%';
  grid.style.width = '100%';

  const date = new Date().toISOString().slice(0,10);
  const fname = 'shark-export-' + date + '.csv';
  var a = document.getElementById("data-export-link");
  a.onclick = function() {
    XLSX.writeFile(wb, fname)
    return false;
  }
</script>
