<div class="wrapper-div">
  <div class="author-field">
    <%= form.label :name, class: 'label' %>
    <div class="control author-control">
      <%= form.text_field :name, class: 'input', placeholder: "Author Name" %>

    </div>
          <%= link_to_remove_nested(form) %>
  </div>

</div>
