<div class="error_messages">
  <% if @reference.errors.any? %>
    <article class="message is-danger">
      <div class="message-header">
        <%= pluralize(@reference.errors.count, "error") %> prohibited this reference from being saved
      </div>
      <div class="message-body">
        <ul>
          <% @reference.errors.full_messages.each do |msg| %>
            <li><%= msg.sub 'Name', 'Author Year' %></li>
          <% end %>
        </ul>
      </div>
    </article>
  <% end %>
</div>
