/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 */

// ensure select2 inputs are the same height as other inputs
.selection--single .select2-selection__rendered {
  line-height: 36px !important;
}
.select2-selection__rendered {
  line-height: 36px !important;
}
.select2-container .select2-selection--single {
  height: 36px !important;
}
.select2-selection__arrow {
  height: 35px !important;
}

.has-icons-left .select2-selection__rendered {
  padding-left: 2.5em !important;
}
