<div class="container">
  <% unless notice.blank? %>
    <div class="notification is-primary">
      <%= notice %>
    </div>
  <% end %>

  <% unless alert.blank? %>
    <div class="notification is-danger">
      <%= alert %>
    </div>
  <% end %>
</div>
